
.preview-image{
    overflow:hidden;
    width:233px;
    height:134px;
    display:block;
}
.preview-image img{
    width: 233px;
}
.main-image{
    overflow:hidden;
    width:700px;
    height:auto;
    display:block;
}
.main-image img{
    width: 700px;
}
.avatar-image{
    overflow:hidden;
    width:233px;
    height:233px;
    display:block;
    margin: 0 auto;
}
.avatar-image img{
    width: 233px;
}
.submit-button-avatar{
    display: block;
    width: 233px;
    margin: 0 auto;
}
